/* Mobile First View: */

h2 {
	display: none;
}

aside {
    background-color: #252c29;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a {
	color: #f6fcfc;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}

/* Change the color of aside links on hover using mouse */
aside a:hover {
	background-color: #34755a;
	color: #f6fcfc;
}


/* Change the color of aside links on focus using tab key */
aside a:focus {
  background-color: #34755a;
  color: #f6fcfc;
  outline: none;
}


article {
	background-color: #E3DFDE;
	color: #202222;
	font-size: 120%;
	padding: 0 10px;
}

article a {
	color: #202222;
	padding: 5px;
	text-decoration: none;
}

/* Change the color of article links on hover using mouse */
article a:hover {
  background-color: #252c29;
  color: #E3DFDE;
}


/* Change the color of article links on focus using tab key */
article a:focus {
  background-color: #252c29;
  color: #252c29;
  outline: none;
}

#main_image {
	width: 100%;
}


/* For desktop: */
@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}